body {
  font-family: "Avenir Next", Avenir, Futura, sans-serif;
  color: black;
  background: #000000 url('../img/bg.svg');
}

h1{
	font-size: 100px;
	margin: 10px;
	padding:0;
	text-align: center;
}

h2{
	margin: 5px;
	text-align: center;
}

#wrapper{
	width: 75%;
	padding: 10px;
	max-width: 1500px;
	min-width: 500px;
	background: #FFF;
	border: 5px solid #BBB;
	border-radius: 10px;
	margin: auto;
	margin-top: 50px;
}