body {
  font-family: "Avenir Next", Avenir, Futura, sans-serif;
  color: white;
  background: #000000 url('../img/bg.svg');
}

video {
  object-fit: cover;
  transform: translateX(-25%);
}

canvas {
transform: translateX(-25%);
}

.flip {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
}

.set-deimension {
  width: 500px;
  height: 800px;
}

.layer-container {
  position: relative;
  width: 500px;
  height: 800px;
  margin: 40px auto 0 auto;
}

.layer {
  width: 500px;
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
}
