.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #9fdcf4;
  margin: 10px;
}

#chosenOverlay {
  display: block;
}

#time {
  font-family: 'Digital-7 Mono';
  font-size: 65px;
  top: 10px;
  position: absolute;
  left: 10px;
  text-align: left;
  padding: 10px;
}

#weather{
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: right;
  padding: 10px;
}

#overlay-container {
  background-color: rgba(0,0,0,0.4);
}

@font-face {
	font-family: 'Digital-7 Mono';
	src: url('../fonts/Digital-7Mono.eot');
	src: url('../fonts/Digital-7Mono.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Digital-7Mono.woff') format('woff'),
		url('../fonts/Digital-7Mono.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
