#sideBar {
  position: absolute;
  top: 200px;
  left: 20px;
  text-align: left;
}

#messageBox {
  position: absolute;
  width: 60px;
  left: 10px;
  top: 10px;
}

.blobBtn {
  margin: 20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #9fdcf4;
  opacity: 0.5;
  position: absolute;
  text-align: center;
}

.blobBtn p {
  display: none;
  color: black;
}
