#sideBar {
  position: absolute;
  top: 200px;
  left: 20px;
  text-align: left;
}

#messageBox {
  position: absolute;
  width: 35px;
  left: 15px;
  top: -5px;
}

.blobBtn {
  top:-18px;
  left:-1px;
  margin: 20px;
  height: 28px;
  border-radius: 20px;
  background-color: #9fdcf4;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  /*border: solid 1px black;*/
  box-shadow: 2px 2px 2px black;
}

.blobBtn p {
  display: none;
  position: relative;
  color: black;
  width: 80px;
  margin: 10px;
}

.blobBtn .bubbleWrap {
  padding: 10px;
}

.blobBtn img {
  width: inherit;
  height: inherit;
}
