#standby-screen {
  background-color: #000000;
  z-index: 0;
  display: none;
  
}

.raid-logo {
  width: 100%;
  height: 100%;
  transform: translateX(50%) translateY(50%);
}

.raid-logo svg {
  width: 320px;
  height: 144px;
  margin-top: -72px;
  margin-left: -160px;
}


svg .red {
  fill: #C33438;

	animation: color_change 10s 2s infinite alternate;
}

svg .white {
  fill: #FEFEFE;

	animation: color_change 10s 2s infinite alternate-reverse;
}

@keyframes color_change {
	from { fill: #C33438; }
	to { fill: #FEFEFE; }
}
