#weather div{
  /*font-size: 20px;*/
}

#weather svg {
  display: inline-block;
  float: left;
  width: 50px;
  /* height: 40px; */
  /*right: 0px;
  bottom: 15px;*/
  opacity: 0.8;
  vertical-align: middle;
}

#weather img{
  fill: blue;
}

#weather #temperature{
  font-size: 52px;
}
