body {
  color: black;
  background: #000000 url('../img/bg.svg');
}

h1, h2, .jumbotron p, .jumbotron a{
	text-align: center;
}


h1 .img-responsive{
	vertical-align: bottom;
	display: inline; !important
	max-width: 100px;
}

.container .jumbotron{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

svg .red {
	fill: #E93438;
}

svg .white {
	fill: #000;
}

.well{
	margin-top: 15px;
}

.wrapper{
	background-color: rgb(238, 238, 238);
	border-radius: 6px;
	margin: 10px auto;
	padding: 0 15px;
}

.img-thumbnail{
	padding: 1px;
}

h3{
	color: white;
	margin: 10px auto;
}

.img-container{
	margin-bottom: 25px;
}

.col-sm-4{
	max-width: 700px;
	margin: auto;
}

.top-margin{
	padding-top: 50px;
}

.avatar{
	max-width: 250px;
	margin: auto;
}

.team-members{
	text-align: center;
}

.team-members h4{
	font-size: 30px;
	margin: 20px auto 10px auto;
}



/*
.img-thumbnail{
	transition: all 0.2s ease 0s;
	opacity: 0.9;
}

.img-thumbnail:hover {
	opacity: 1;
}*/
